 
  img {
    vertical-align: top;
  }
  
  h1, h2, h3 {
    text-align: center;
  }
  
  .container {
    margin: 0;
    padding: 0;
    background-color: rgb(236, 236, 236);
  }

  .viewport {
    width: 320px;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 0;
    -webkit-transform: translateZ(0); }
  
  .contents {
    width: 1195px;
    /* 230px(item) * 5 + 45px(padding) */
    padding-left: 45px; }
  
  .contents:after {
    content: '';
    display: block;
    clear: both;
    height: 0; }
  
  .content {
    width: 200px;
    margin: 0 10px;
    font-size: 50px;
    text-align: center;
    padding: 50px 0;
    background: #fbdddd;
    border: 5px solid rgb(104, 36, 36);
    float: left;
    color: rgb(49, 49, 49); }
  
  .pointer {
    text-align: center; }
  
  .pointer span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    border: 1px solid #000; }
  
  .pointer span.current {
    background: #FC0; }
  
  .controls {
    text-align: center;
    margin: 0 0 15px 0; }
  
  .controls .num {
    width: 60px; }
  
  .sample-simple .contents, .sample-threshold .contents {
    width: 960px;
    padding: 0; }
  .sample-simple .content, .sample-threshold .content {
    width: 310px;
    margin: 0; }
  
  .sample-img .contents {
    width: 960px;
    padding: 0; }
  .sample-img .content {
    margin: 0;
    padding: 0;
    border: none;
    width: auto;
    height: auto; }
  
  .sample-maxPoint .contents {
    width: 800px;
    /* 80px(item) * 10 */
    padding: 0; }
  .sample-maxPoint .content {
    width: 50px;
    font-size: 20px;
    padding: 10px 0; }
  
  .sample-touchevents .log {
    width: 280px;
    margin: 0 auto;
  }
  
  .sample-touchevents pre.detail {
    background: #EFEFEF;
    padding: 5px;
    border: 1px solid #CCC;
    height: 80px;
    font-size: 12px;
  }
  
  .sample-refresh .contents {
    width: 270px; }
  
  .sample-link .content {
    padding: 0; }
  .sample-link .content a {
    width: 200px;
    height: 180px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #00F;
    font-size: 18px; }
  
  .sample-moveToPoint .contents {
    width: 2345px; }
  
  .sample p {
    text-align: center; }
  
  .sample pre {
    display: none; }